/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 100%;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-main);
  color: var(--accent-color, #000);
  font-variation-settings: 'wght' var(--text-font-weight);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.box-inline-size {
  inline-size: var(--box-inline-size);
}

.header {
  margin-block: 100px;
  padding-block: clamp(120px, 32%, 136px) 21px;
  padding-inline: clamp(0.875rem, -4.757rem + 28.158vw, 7.563rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

.header__main-title {
  margin-block-end: 20px;
  display: inline-block;
  font-family: var(--font-accent);
  font-size: clamp(2.5625rem, 2.1339rem + 2.1429vw, 4.0625rem);
  font-weight: var(--text-font-weight);
  line-height: 66px;
}

.header__title {
  margin-block-end: 25px;
  min-inline-size: max-content;
  display: inline-block;
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  font-weight: var(--text-font-weight);
  line-height: 23px;
  text-transform: uppercase;
}

.header__theme-menu {
  margin-inline-start: 18px;
  inline-size: 84px;
}

.theme-menu__list {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__item {
  max-inline-size: 100%;
}

.theme-menu__button {
  padding: 0;
  padding-block-start: 1px;
  max-inline-size: 100%;
  appearance: none;
  border: none;
  cursor: url(../images/image\ 54.png), pointer;
  display: block;
  font-family: var(--font-accent);
  font-size: var(--button-font-size, 14px);
  font-weight: var(--text-font-weight);
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: var(--background-color, #fff);
  border-block-end: 2px solid var(--background-color, #fff);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -24px;
  display: block;
  color: var(--accent-color, #000);
  animation: active-button 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content__section {
  max-inline-size: 100%;
}

.content__section-list {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
}

.content__section-list-card {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  line-height: 21px;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

.content__section-list-card_title {
  padding: 4px 10px 4px;
  min-block-size: 32px;
  max-inline-size: 100%;
  display: flex;
  font-size: 18px;
  font-weight: var(--card-title-font-weight);
  font-variation-settings: 'wght' var(--card-title-font-weight);
  line-height: 22px;
  border-bottom: 3px solid var(--accent-color, #000);
}

.content__section-list-card_image {
  position: relative;
  z-index: 0;
  inline-size: 100%;
  display: block;
  overflow: hidden;
  border-bottom: 3px solid var(--accent-color, #000);
}

.card-image {
  position: relative;
  z-index: -2;
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.image-grayscale {
  filter: brightness(150%) grayscale(70%) contrast(100%) saturate(80%);
}

.image-saturate {
  filter: brightness(120%) saturate(300%);
}

.image-hue {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: brightness(180%) contrast(120%) saturate(70%) invert(0.7);
}

.image-sepia {
  filter: sepia(90%);
}

.image-blur {
  filter: blur(1rem);
}

.image-filter-combined {
  filter: hue-rotate(90deg) brightness(110%) contrast(40%) saturate(170%) blur(0.15rem);
}

.image-label {
  position: absolute;
  z-index: 1;
  font-family: var(--font-accent);
  font-size: var(--button-font-size, 14px);
  font-variation-settings: 'wght' var(--text-font-weight);
  line-height: 14px;
  opacity: 0.5;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--stroke-color, #fff), 
    0 1px var(--stroke-color, #fff), 
    1px 0 var(--stroke-color, #fff), 
    0 -1px var(--stroke-color, #fff);
}

@supports((text-stroke: 1px var(--stroke-color, #fff)) or (-webkit-text-stroke: 1px var(--stroke-color, #fff))) {

  .image-label {
      -webkit-text-stroke: 1px var(--stroke-color, #fff);
      text-stroke: 1px var(--stroke-color, #fff);
      text-shadow: none;
  }
} 

.content__section-list-card_text {
  padding: 25px 3.7% 25px 25px;
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
  font-weight: var(--card-text-font-weight);
  font-variation-settings: 'wght' var(--card-text-font-weight);
  line-height: 21px;
}

.content__section-list-card_buttons {
  padding-inline-end: 25px;
  padding-block-end: 24px;
  min-inline-size: 100%;
  align-self: end;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
  background-color: var(--background-color, #fff);
}

.card__icon-button {
  appearance: none;
  border: none;
  cursor: url(../images/image\ 54.png), pointer;
  padding: 0;
  padding-block-start: 2px;
  display: block;
  min-inline-size: 39px;
  max-block-size: 38px;
  border: 2px solid transparent;
  background-color: var(--background-color, #fff);
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.heart {
  max-block-size: 32px;
  max-inline-size: 29px;
}

.button_decor {
  position: relative;
  z-index: 0;
  appearance: none;
  border: none;
  cursor: url(../images/image\ 54.png), pointer;
  color: var(--button-hover-text-color, #fff);
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
}

.button_decor:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
  animation: button-shadow 0.3s ease;
}

.button_decor::after {
  content: '';
  position: absolute;
  z-index: 1;
  inset-inline-start: 0;
  inset-block-start: 0;
  min-inline-size: 100%;
  min-block-size: 101%;
  background-color: var(--button-hover-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-in-out;
}

.button_decor:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--font-accent);
  font-size: var(--button-font-size, 14px);
  font-variation-settings: 'wght' var(--text-font-weight);
  line-height: 13px;
  mix-blend-mode: difference;
}

.button__text::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset-inline-start: 0;
  inset-block-start: 0;
  min-inline-size: 100%;
  min-block-size: 101%;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button {
  padding: 11px;
  min-inline-size: 130px;
  max-block-size: 38px;
  display: inline-block;
}

.content__section-button {
  margin-block-start: 52px;
  margin-block-end: 100px;
  inline-size: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.content__section-button .button_decor {
  padding: 15px 20px;
  min-inline-size: 335px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
}

.button_decor svg {
  flex-shrink: 0;
  min-inline-size: 21px;
  inline-size: 21px;
}

.save_button__floppy-icon {
  position: relative;
  z-index: 2;
  min-inline-size: 21px;
  inline-size: 21px;
  inline-size: 100%;
  display: block;
  mix-blend-mode: difference;
}

.save_button_text {
  padding-block-start: 1px;
  min-inline-size: fit-content;
  display: inline-block;
}

.dialog__box {
  position: fixed;
  inset: 0;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
}

.dialog__box::backdrop {
  background-color: var(--backdrop-color, #000);
  opacity: 75%;
}

.dialog__box[open] {
  padding: 30px;
  inline-size: clamp(320px, 357px, 357px);
  display: grid;
  grid-template-rows: 1fr 38px;
  row-gap: 30px;
}

.dialog__box-content {
  max-inline-size: 100%;
  block-size: 63px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.floppy-icon {
  min-inline-size: 39px;
  inline-size: 39px;
  block-size: auto;
  display: block;
  color: var(--accent-color, #000);
}

.dialog__box-text {
  max-inline-size: 234px;
  font-family: var(--font-accent);
  color: var(--accent-color, #000);
  font-size: var(--button-font-size, 14px);
  font-variation-settings: 'wght' var(--text-font-weight);
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__box-button {
  min-inline-size: 100%;
  min-block-size: 38px;
}

@media (width <= 376px) {

  .box-inline-size {
    min-inline-size: 100%;
  }
  
  .header__main-title {
    font-size: clamp(2.8125rem, 1.3839rem + 7.1429vw, 3.0625rem);
    line-height: 49px;
  }

  .header__title {
    margin-block-end: 24px;
    font-size: clamp(0.75rem, 0.0357rem + 3.5714vw, 0.875rem);
    line-height: 14px;
  }

  .header__theme-menu {
    margin-inline-start: 20px;
  }

  .theme-menu__list {
    gap: 10px;
  }

  .content__section-list-card_title {
    padding: 4px 10px 3px;
  }

  .image-label {
    inset-inline-end: 13px;
  }

  .content__section-list-card_text {
    padding: 25px 7.7% 25px 25px;
  }
  
  .content__section-button .button_decor {  
    max-inline-size: 310px;
    flex-direction: column;
  }

  .save_button__floppy-icon {
    max-inline-size: 28px;
    inline-size: 28px;
    block-size: auto;
  }
}